extends layout

block append head

block content
    body
        div.row-fluid
            div.span12
                include includes/share
        div.row-fluid.one-post
            div.span1
                img(src='#{post.creator.thumbnails}',class='img-polaroid img-rounded')
            div.span11.post-content
                header
                    span.publisher-anchor-color
                        a(href='#user') #{post.creator.name}
                    span(class='bullet',aria-hidden='true') •
                    a(href='#comment-693320343',class='time-ago') #{post.fromNow}
                h5 #{post.title}
                p !{post.content}
                hr.soft

        div.row-fluid
            h4 #{post.comments.length} 评论

        each comment, i in post.comments
            div.row-fluid
                div.span1
                    img(src='#{comment.creator.thumbnails}',class='img-polaroid img-rounded')

                div.span11.post-content
                    header
                        span.publisher-anchor-color
                            a(href='#user') #{comment.creator.name}
                        span(class='bullet',aria-hidden='true') •
                        a(href='#comment-693320343',class='time-ago') #{comment.fromNow}
                    p !{comment.content}
                    hr.soft

        div.row-fluid
            div.span12
                form(class='well form-inline center',action='/comment',method='post')
                      legend 评论
                      div.control-group
                          label(class='control-label', for='content') 内容：
                          div.controls
                              input(name='postId',type='hidden',value='#{post._id}')
                              textarea(class='span6', name='content',rows='5')
                      div.control-group
                          div.controls
                              button(type='submit', class='btn btn-success') 发言






             
      