extends layout


block append head
     script
       $(function(){
         $('.popover-test').popover()
       })

block content
  body
    div.row-fluid

       div(class='span4 blog-cnm')
         h3.title Top five classic topics
         if typeof(posts) !== 'undefined' && posts !== null && posts.length > 0
           each post, i in posts
              div.row-fluid
                div.span12
                  p(class='auto-line')
                    span(class='author')
                      if typeof(user) !== 'undefined' && user !== null
                        img(src='#{user.faceUrl}', width='45',height='45')

                      if  typeof(post.creator) !== 'undefined' && post.creator !== null
                         #{post.creator.name}

                    span #{post.fromNow} 说:

                  div(class="bs-docs-example bs-docs-example-popover")
                      div(class='popover bottom')
                         div(class='arrow')
                         h3(class='popover-title') #{post.fromNow}
                         div(class='popover-content')
                           p(class='blog-content')
                             nobr #{post.content}



       div(class='span8 blog-cnm')
            h3.title Top five classic topics
            if typeof(posts) !== 'undefined' && posts !== null && posts.length > 0

                  each post, i in posts
                   div.row-fluid
                     div.span12
                         p(class='auto-line')
                           span(class='author') #{post.username} #{post.fromNow}
                           span 说:

                         div(class="bs-docs-example bs-docs-example-popover")
                             div(class='popover bottom')
                                div(class='arrow')
                                h3(class='popover-title') #{post.fromNow}
                                div(class='popover-content')
                                  p(class='blog-content')
                                     nobr #{post.content}