extends layout

block append head

block content
    body
        div.row-fluid
            div.span3.well-no-back
                p
                   img(src='#{user.faceUrl}')
            div.span9
                if typeof(posts) != 'undefined' && posts.length > 0
                    each post, i in posts

                        p(class='auto-line') #{post.fromNow} #{post.username} say: #{post.content}


                        p(class='auto-line') #{post.fromNow} #{post.username} say: #{post.content}
