extends layout

block append head

block content
    body
        div.row-fluid
            div.span3.well-no-back.align-center
                div
                    p
                       img(src='#{user.faceUrl}')
                    p  #{user.name}
                    p  #{user.regTimeStr}
                    p  #{user.flyAge}
                    p  #{user.email}
                div


            div.span9.well-no-back
                if typeof(posts) !== 'undefined' && posts.length > 0
                    each post, i in posts
                        p(class='auto-line') #{post.fromNow} #{post.username} say: #{post.content}
                        hr.soft


