extends layout

block append head

block content
  body

      if typeof(posts) != 'undefined' && posts.length > 0
          each post, i in posts
            if i % 3 == 0
              div.row-fluid
                div.span3
                  p(class='auto-line') #{post.pustime} #{post.username} say: #{post.content}
            else
                div.span3
                  p(class='auto-line') #{post.pustime} #{post.username} say: #{post.content}
