extends ../layouts/main-layout

block append head


block content
    body

        div(class='row')
            ul(class='breadcrumb')
                li
                    a(href='/users') 个人资料
                    span(class='divider')
                li(class='active') 编辑

            form(action='/users',method='post',enctype='multipart/form-data',  class='form-horizontal')
                hr
                div.form-group
                    label(class='control-label col-md-2', for='face') 头像
                    input(id='face-id',type='hidden',name='faceId', value='#{user.faceId}')
                    div.col-md-2

                            img(class='img-polaroid img-rounded',id='image-face',src='#{user.normalFace}',alt='头像')

                            p
                            p
                                input(id='upload-face-btn',type='button',name='myName',class='btn btn-info',value='更改')


                div.form-group
                    label(class='control-label col-md-2', for='username') 用户名
                    div.col-md-2
                        label(class='control-label') #{user.name}

                    div.col-md-2.alert.alert-warning 用户名不可修改

                div.form-group
                    label(class='control-label col-md-2', for='regTime') 注册时间
                    div.col-md-2
                        label(class='control-label') #{user.regTimeStr}
                div.form-group
                    label(class='control-label col-md-2', for='gender') 性别
                    div.col-md-2
                        label(class='control-label') #{user.gender}
                div.form-group
                    label(class='control-label col-md-2', for='gender') 出生日期
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    label(class='control-label col-md-2', for='gender') 家乡
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    label(class='control-label col-md-2', for='gender') 现居住
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    div.col-md-2.col-md-offset-2
                        button(class='btn btn-primary', type='submit') 提交

    script(data-main='/build/app/edit-profile',src='/javascripts/require.js?v=#{appVersion}')