extends ../layouts/main-layout

block append head


block content
    body

        div(class='row')
            ul(class='breadcrumb')
                li
                    a(href='/users') 个人资料
                    span(class='divider')
                li(class='active') 编辑

            form(action='/users',method='post',enctype='multipart/form-data',  class='form-horizontal')
                hr
                div.form-group
                    label(class='control-label col-md-2', for='face') 头像
                    input(id='face-id',type='hidden',name='faceId', value='#{user.faceId}')
                    div.col-md-2

                            img(class='img-thumbnail small-face',id='image-face',src='#{user.normalFace}',alt='头像')

                            p
                            p
                                button(id='change-face-btn',class='btn btn-info') 更改



                div.form-group
                    label(class='control-label col-md-2', for='username') 用户名
                    div.col-md-2
                        label(class='control-label') #{user.name}

                    div.col-md-2.alert.alert-warning 用户名不可修改

                div.form-group
                    label(class='control-label col-md-2', for='regTime') 注册时间
                    div.col-md-2
                        label(class='control-label') #{user.regTimeStr}
                div.form-group
                    label(class='control-label col-md-2', for='gender') 性别
                    div.col-md-2
                        label(class='control-label') #{user.gender}
                div.form-group
                    label(class='control-label col-md-2', for='gender') 出生日期
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    label(class='control-label col-md-2', for='gender') 家乡
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    label(class='control-label col-md-2', for='gender') 现居住
                    div.col-md-2
                        label(class='control-label')
                div.form-group
                    div.col-md-2.col-md-offset-2
                        button(class='btn btn-primary', type='submit') 提交

        div(id='upload-model',class='modal fade', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true',data-backdrop='static')
            div.modal-dialog.width70percent
                div.modal-content
                    div.modal-header

                        h5 上传头像

                    div.modal-body
                        div.row
                            div.col-md-12
                                p 提示：点击按钮上传文件，也可以拖动文件到指定区域上传文件。（文件格式请使用，gif，jpg，jpeg，png)，并且文件大小小于10M）

                        div.row
                            div.col-md-12
                                form(id='fileupload',enctype='multipart/form-data',method='POST',action='/upload')
                                    div(class='row fileupload-buttonbar')
                                        div.col-md-1
                                               span(class='btn btn-success fileinput-button')
                                                   span 添加文件...
                                                   input(type='file',name='files',id='file-input')
                        p
                            span(class='label label-info') 或者

                        div.row
                            div.col-md-6
                                div(id='dropzone',class='drag-area') 拖动文件到此区域
                        div.row
                            div(id='upload-div',class='col-md-11 col-sm-11 well well-sm fade maigin-left-right-15')

                        div.row
                            div(id='tip-area',class='col-md-8 col-sm-8')

                    div.modal-footer
                        p
                            button(id='confirm-btn',class='btn btn-primary',data-dismiss='modal',aria-hidden='true',disabled='true') 确定


        script(type='text/template',id='file-template')
            div.row
                div(id='display-area',class='col-md-3 col-sm-4.col-xs-2')
                div.col-md-9.col-sm-8.col-xs-10
                    p.middle
                        span(class='badge',id='file-info-label') 文件名
                        | &nbsp;&nbsp; <%- name %>
                        <br/>
                        span(class='badge',id='file-info-label') 大小
                        | &nbsp;&nbsp; <%- size %>
                        <br/>
                        button(id='upload-cancel-btn',class='btn btn-danger') 取消

            div.row
                div.col-md-11
                    div(id='progress-container')
                        div(class='progress progress-striped active')
                            div(id='progress-bar',class='progress-bar progress-bar-success',role='progressbar',aria-valuenow='0',aria-valuemin='0',aria-valuemax='100',style='width: 0%')



    script(data-main='/javascripts/app/user-edit.js',src='/javascripts/require.js?v=#{appVersion}')