extends ../layouts/logo-layout

block append head

block content
    body
        div.container
            include ../layouts/_message
        div.container
            form(action='/reg',method='post', class='form-horizontal',role='form')
                fieldset
                    legend 注册
                    div.form-group
                        label(class='control-label col-md-2', for='username') 用户名
                        div.col-md-4
                            input(name='username',class='form-control',type='text',maxlength='50',required,data-validation-maxlength-message='用户名长度不能超过50个字符！',value='#{username}')
                        div.col-md-4
                            p.help-block 请输入小写字母，或汉字
                    div.form-group
                        label(class='control-label col-md-2',for='password') 密码
                        div.col-md-4
                            input(name='password',class='form-control',type='password',maxlength='50',required,data-validation-maxlength-message='密码长度不能超过50个字符！',value='#{password}')
                        div.col-md-4
                            p.help-block
                    div.form-group
                        label(class='control-label col-md-2',for='password-repeat') 密码确认
                        div.col-md-4
                            input(name='passRepeat',class='form-control',type='password',data-validation-match-match='password',data-validation-match-message='两次密码必须一致！',value='#{passRepeat}')
                        div.col-md-4
                            p.help-block

                    div.form-group
                        label(class='control-label col-md-2',for='email') Email
                        div.col-md-4
                            input(name='email',class='form-control',type='email',maxlength='100',required,data-validation-email-message='请输入有效的邮件地址！',value='#{email}')
                        div.col-md-4
                            p.help-block
                    div.form-group
                        div.col-md-4.col-md-offset-2
                            button(class='btn btn-primary', type='submit') 提交


        if 'production' === env
            script(data-main='#{jsPath}/reg',src='#{jsPath}/require.js?v=#{appVersion}')
        else
            script(src='#{jsPath}/reg.js')

