extends ../layouts/main-layout

block append head

block content
    body

        div(class='row')
            ul(class='breadcrumb')
                li(class='active') 个人资料
                    span(class='divider')
                li(class='active')
                    a(href='users/edit') 编辑
            hr
            div(class='col-md-8')
                table(class='table table-striped table-bordered table-hover')
                    tbody
                        tr
                           td 头像
                           td
                              img(src='#{user.normalFace}',class='img-polaroid img-rounded small-face')
                        tr
                           td 用户名
                           td #{user.name}
                        tr
                           td Email
                           td #{user.email}
                        tr
                           td 性别
                           td #{user.gender}
                        tr
                           td 注册时间
                           td #{user.regTimeStr}

        if 'production' === env
            script(data-main='#{jsPath}/user-show',src='#{jsPath}/require.js?v=#{appVersion}')
        else
            script(src='#{jsPath}/user-show.js')




