extends ../layouts/main-layout

block append head

block content
    body
        
        div.row
            div.col-md-2.col-sm-2
                img(src='#{discoverior.normalFace}',class='img-rounded img-thumbnail img-responsive small-face')
                p
                p 我的名字： #{discoverior.name}
                p 注册时间： #{discoverior.regTimeStr}
                p @年龄： #{discoverior.flyAge}
                p 邮箱： #{discoverior.email}



            div.col-md-10.col-sm-10
                if typeof(posts) !== 'undefined' && posts.length > 0
                    each post, i in posts
                        div.row
                            div.col-md-8
                                a(href='/posts/#{post._id}')
                                    | #{post.title}
                            div.col-md-4
                                small.muted.pull-right
                                    | #{post.fromNow}
                        div.row
                            div.col-md-12
                                p.word-break-wrap #{post.content}

                        if (own)
                            div.row
                                div.col-md-8
                                    if post.passed
                                        span(class='label label-success') 审核通过
                                    else if post.passed === false

                                        if post.retried === 0
                                            p.well.well-sm
                                                | 未被审核通过， 您可以：
                                                button(name='qi-post-btn',data-post-id='#{post._id}',class='btn btn-info') 起诉
                                        if post.retried === 1
                                            p.well.well-sm
                                                | 未被审核通过， 您可以：
                                                button(name='shen-post-btn',data-post-id='#{post._id}',class='btn btn-warning') 申诉
                                        if post.retried === 2
                                            p.well.well-sm
                                                | 未被审核通过， 您可以：
                                                button(name='kang-post-btn',data-post-id='#{post._id}',class='btn btn-danger') 抗诉
                                        if post.retried >= 3
                                            p
                                                span(class='label label-default')
                                                    | 由于您的3次起诉权利已用完，十分抱歉此文章暂不能发表... 由此带给您的不便，请谅解

                                    else
                                        p
                                            | 请耐心等待:
                                            span(class='label label-info') 正在审核中
                                div.col-md-4
                                    .pull-right

                                        button(name='del-post-btn',data-post-id='#{post._id}',class='btn btn-danger')  删除

                                form(id='#{post._id}',action='/posts',method='post')
                                    input(id='#{post._id}-method',type='hidden',name='_method')
                                    input(id='#{post._id}-retried',type='hidden',name='retried',value='#{post.retried}')
                                    input(id='#{post._id}-postId',type='hidden',name='postId',value='#{post._id}')
                                    input(id='#{post._id}-page',type='hidden',name='currentPage',value='#{currentPage}')
                        hr.soft
                div.row
                            div.col-md-12
                                input(type='hidden',id='discoverior-id',value='#{discoverior._id}')
                                input(type='hidden',id='total-count',value='#{totalCount}')
                                input(type='hidden',id='current-page',value='#{currentPage}')
                                div(id='pagination-div',class='pagination pagination-right')

        <!-- confirm dialog -->
        div(id='post-del-confirm',class='modal fade', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type='button',class='close',data-dismiss='modal',aria-hidden='true')
                            &times;
                        h4 此操作将不可回退

                    div.modal-body

                        p
                        p.alert.alert-danger 真的要删除文章吗？ 请注意，文章删除后将无法恢复

                    div.modal-footer
                        a(id='cancel-del-btn',href='#',class='btn') 取消
                        a(id='confirm-del-btn',href='#',data-post-id='',class='btn btn-danger') 确定

        script(data-main='/build/app/user-blogs',src='/javascripts/require.js?v=#{appVersion}')

