extends ../layouts/main-layout

block append head

block content
    body
        div.row-fluid
            div.span2
                img(src='#{discoverior.normalFace}',class='img-polaroid img-rounded')
                p
                p 我的名字： #{discoverior.name}
                p 注册时间： #{discoverior.regTimeStr}
                p @年龄： #{discoverior.flyAge}
                p 邮箱： #{discoverior.email}



            div.span10
                if typeof(posts) !== 'undefined' && posts.length > 0
                    each post, i in posts
                        div.row-fluid
                            div.span8
                                a(href='/posts/#{post._id}')
                                    | #{post.title}
                            div.span4
                                small.pull-right
                                    | #{post.fromNow}
                        div.row-fluid
                            div.span12
                                | #{post.content}


                        hr.soft
        div.row-fluid
            div.span12
                div(class='pagination pagination-right')
                    ul
                        li
                            a(href='#') 上一页
                        li
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 下一页


