extends ../layouts/main-layout

block append head

block content
    body
        div(class='alert alert-info')
            | 发布的文章通过审核后读者才能看到
        div.row
            div.col-md-12
                form(id='post-form',action='/posts',method='post')
                    legend 发表
                    div.form-group
                        div.row
                            div.col-md-6
                                label(for='title') 标题：
                        div.row
                            div.col-md-6
                                input(name='title',type='text',class='form-control',placeholder='最多40字符',type='text',maxlength='40',required,data-validation-maxlength-message='标题不能超过40个字符！')
                    div.form-group
                        div.row
                            div.col-md-6
                                label(for='title') 标签：
                        div.row
                            div.col-md-2
                                select(id='tag-select',name='tag',class='select-100percent')
                                    if typeof(tags) !== 'undefined' && tags.length > 0
                                        each tag, i in tags
                                            option(value='#{tag._id}') #{tag.name}

                            div(id='tag-desc-div',class='col-md-4')
                                if typeof(tags) !== 'undefined' && tags.length > 0
                                    each tag, i in tags
                                        div(id='#{tag._id}',class='alert alert-success hidden') #{tag.description}


                    div.form-group
                        div.row
                            div.col-md-6
                                label(for='title') 地点：( 建议发表求助或发现时选择地点 )
                        div.row
                            div(id='country-div',class='col-md-2')
                                input(id='country-input',type='hidden',class='select-100percent',name='countryId')
                                input(id='country-text',type='hidden',class='select-100percent',name='countryText')
                            div(id='province-div',class='col-md-2 hidden')
                                input(id='province-input',type='hidden',class='select-100percent',name='provinceId')
                                input(id='province-text',type='hidden',class='select-100percent',name='provinceText')
                            div(id='district-div',class='col-md-2 hidden')
                                input(id='district-input',type='hidden',class='select-100percent',name='districtId')
                                input(id='district-text',type='hidden',class='select-100percent',name='districtText')
                            div(id='county-div',class='col-md-2 hidden')
                                input(id='county-input',type='hidden',class='select-100percent',name='countyId')
                                input(id='county-text',type='hidden',class='select-100percent',name='countyText')
                    div.form-group
                        label( for='content') 内容：
                        div.row
                            div.col-md-12
                                p.pull-right

                                    a(href='#guide-makedown',data-toggle='modal',class='btn btn-default') 编辑器使用说明

                        div.row.post-content
                            div.col-md-12
                                ul(class='nav nav-tabs')
                                    
                                    ul(class='nav nav-tabs')
                                        li(class='active')
                                            a(href='#write',data-toggle='tab') 写

                                        li
                                            a(href='#preview',data-toggle='tab') 预览 
                                                 
                                                    
                                    div(class='tab-content')
                                        div(class='tab-pane active',id='write')

                                            div(id='posts',class='padding-top20')
                                                textarea(id='editor-area',class='form-control content-editor-div', name='content',rows='10',placeholder='最多2000字符',type='text',maxlength='2000',required,data-validation-maxlength-message='内容不能超过2000个字符！')
                                                p.text-info.upload-area
                                                    | 拖动文件到此区域上传 或点击 &nbsp;&nbsp;&nbsp;
                                                    span(class='btn btn-sm btn-info fileinput-button')
                                                        span 添加文件...
                                                        input(type='file',name='files',id='fileupload',multiple)
                                                div(id='image-area')



                                        div(class='tab-pane',id='preview')
                                            div(id='preview-content',class='preview-content-div')
                                                
                                
                    div.form-group
                        button(id='submit-btn', type='submit',class='btn btn-success') 发言
        <!-- Templates -->
        script(type="text/template",id="image-item-template")
            div.row
                div(name='display-area',class='col-md-3 col-sm-4.col-xs-2 thumb')
                    div.aa
                div.col-md-4.col-sm-3.col-xs-5
                    p.middle
                        span(class='badge',id='file-info-label') 文件名
                        | &nbsp;&nbsp; <%- name %>
                        <br/>
                        span(class='badge',id='file-info-label') 大小
                        | &nbsp;&nbsp; <%- size %>
                        <br/>
                        button(name='upload-cancel-btn',class='btn btn-danger') 取消
                div.col-md-5
                    div(id='progress-container')
                        div(class='progress progress-striped active')
                            div(id='progress-bar',class='progress-bar progress-bar-success',role='progressbar',aria-valuenow='0',aria-valuemin='0',aria-valuemax='100',style='width: 0%')
        <!-- guide dialog -->
        div(id='guide-makedown',class='modal fade', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog.width70percent
                div.modal-content
                    div.modal-header
                        button(type='button',class='close',data-dismiss='modal',aria-hidden='true')
                            &times;
                        h5 编辑器使用说明

                    div.modal-body
                        div.row
                            div.col-md-4

                                p
                                    strong 格式化
                                p

                                    small.text-muted 格式化文本
                                    code
                                        pre.

                                            # This is an  h1 tag
                                            ## This is an h2 tag
                                            ###### This is an h6 tag
                                p
                                    small.text-muted 风格
                                    code
                                        pre.
                                            *This text will be italic*
                                            _This will also be italic_

                                            **This text will be bold**
                                            __This will also be bold__

                                            *You **can** combine them*
                            div.col-md-4
                                p
                                    strong 列表
                                    p
                                        small.text-muted 无序
                                        code
                                            pre.
                                                * Item 1
                                                * Item 2
                                                    * Item 2a
                                                    * Item 2b
                                    p
                                        small.text-muted 有序
                                        code
                                            pre.
                                                1. Item 1
                                                2. Item 2
                                                3. Item 3
                                                   * Item 3a
                                                   * Item 3b
                            div.col-md-4
                                p
                                    strong 其它
                                p
                                    small.text-muted 图片
                                    code
                                        pre.
                                            ![GitHub Logo](/images/logo.png)
                                            Format: ![Alt Text](url)
                                p
                                    small.text-muted 链接
                                    code
                                         pre.
                                             http://github.com - automatic!
                                             [GitHub](http://github.com)
                                p
                                     small.text-muted 引用
                                     code
                                         pre.
                                              As Kanye West said:
                                              > We're living the future so
                                              > the present is our past.
                    div.modal-footer
                        p
                            powered by github makedown
        script(data-main='/javascripts/app/post-article',src='/javascripts/require.js?v=#{appVersion}')