extends ../layouts/main-layout

block append head

block content
    body
        div.row
            div.col-md-12
                p
                    div.row
                        div.col-md-12
                            include _share
                p.bg-info
                    div.row
                        div.col-md-12
                            a(href='javascript:history.go(-1)',class='btn btn-warning')
                                span(class='glyphicon glyphicon-chevron-left') 返回
                            |  &nbsp;&nbsp;
                            span.text-muted.small 返回到您上次查看的标签页
                div.row
                    div.col-md-12
                        div.media
                            a(class='pull-left',href='/users/#{post.creator._id}')
                                img(src='#{post.creator.thumbnails}',class='img-rounded img-thumbnail thumbnail-face')
                            div.media-body
                                div.panel.panel-info
                                    div.panel-heading
                                        | #{post.title}
                                    div.panel-body.word-break-wrap
                                        p   !{post.content}
                                        p
                                            each image, i in post.images
                                                div(class='thumb-image',name='#{post._id}')
                                                    a(class='#{post._id}',href='#{image.url}')
                                                        img(src='#{image.thumbnailUrl}',class='img-thumbnail image-post-thumbnail')
                                    div.panel-footer
                                        div.row
                                             div.col-md-9.small
                                                 if typeof(post.tag) !== 'undefined' && post.tag !== null && post.tag !== ''  && typeof(post.tag.name) !== 'undefined' && post.tag.name!==null && post.tag.name!==''
                                                    span(class='label label-primary') #{post.tag.name}
                                                 if typeof(post.tag) !== 'undefined' && post.location !== null && post.location !== ''
                                                    span.small &nbsp;地点： #{post.location}
                                             div.col-md-3.text-muted.pull-right.small
                                                 a(href='/users/#{post.creator._id}',class='discussion-topic-author') #{post.creator.name}
                                                 time
                                                     | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{post.fromNow}

                if typeof(user)!=='undefined'
                    hr
                    div.row
                        div.col-md-12
                            div.media
                                div.pull-left
                                    img(class='img-rounded img-thumbnail thumbnail-face',src='/images/noavatar92.png')
                                div.media-body
                                    form(id='comment-form',action='/comment',method='post',role='form',class='form-horizontal')
                                        div.form-group
                                            input(name='postId',type='hidden',value='#{post._id}')
                                            input(id='content-hidden',name='content',type='hidden')
                                            div.col-md-8
                                                div(id='content-div',class='form-control comment-div',contenteditable='true')

                                        div.form-group
                                            div.col-md-8
                                                button(id='comment-btn', class='btn btn-success') 发言
                else
                    div.row
                        div.col-md-12
                            div.alert.alert-info 登录后即可发表评论!
                hr.soft
                div.row
                    div.col-md-12
                        h4 #{post.comments.length} 评论

                each comment, i in post.comments

                    div.media
                        a(class='pull-left',href='/users/#{comment.creator._id}')
                            img(class='img-rounded img-thumbnail media-object thumbnail-face',src='#{comment.creator.thumbnails}',alt="...")

                        div.media-body
                            p !{comment.content}
                            div.row
                                div.col-md-8.small
                                    a(href='/users/#{comment.creator._id}',class='comment-header-author') #{comment.creator.name}
                                    | &nbsp;
                                    span(class='comment-header-date text-muted') #{comment.fromNow} 评论
                    hr


        script(data-main='#{jsPath}/post-show',src='/javascripts/require.js?v=#{appVersion}')