extends layouts/main-layout

block append head

block content
    body
        div(id='home-div',class='row')
            div(class='col-md-9 col-sm-9 content-div')
                include home/post-content-bone
                div(class='tabbable')
                    ul(id='content-ul-tab',class='nav nav-pills')
                        li(class='active')
                            a(href='#new',data-toggle='pill') 最新
                        li
                            a(href='#discover',data-toggle='pill') 发现
                        li
                            a(href='#help',data-toggle='pill') 求助
                        li
                            a(href='#spitslot',data-toggle='pill') 吐嘈

                    div(class='tab-content')
                        div(class='tab-pane active',id='new')
                            div(id='posts',class='padding-top20')
                                
                               
                        div(class='tab-pane fade',id='discover')
                            div(id='discover-content',class='padding-top20')
                               
                        div(class='tab-pane fade',id='help')
                            div(id='help-content',class='padding-top20')

                        div(class='tab-pane fade',id='spitslot')
                            div(id='spitslot-content',class='padding-top20')


            div(class='col-md-3 col-sm-3 hidden-xs new-member')
                div.panel.panel-info
                    div.panel-heading
                        h3.panel-title 发现排行
                    div.panel-body
                        ul.nav
                            if users
                                each user, i in users
                                    li
                                        a(href='/users/#{user._id}')
                                            img(class='img-polaroid img-rounded', src='#{user.thumbnails}',alt='头像',title='#{user.name}')

                                            | &nbsp; #{user.name}
        script(data-main='/build/app/home',src='/javascripts/require.js?v=#{appVersion}')