extends layouts/main-layout

block append head

block content
    body
        div(id='home-div',class='row')
            div(class='col-md-9 col-sm-9 content-div')
                include home/post-content-bone
                div(class='tabbable')
                    ul(id='content-ul-tab',class='nav nav-pills')
                        li(class='active')
                            a(href='#new',data-toggle='pill') 最新
                        li
                            a(href='#discover',data-toggle='pill') 发现
                        li
                            a(href='#help',data-toggle='pill') 求助
                        li
                            a(href='#spitslot',data-toggle='pill') 吐嘈

                    div(class='tab-content')
                        div(class='tab-pane active',id='new')
                            div(id='new-content',class='padding-top20')
                                
                               
                        div(class='tab-pane fade',id='discover')
                            div(id='discover-content',class='padding-top20')
                               
                        div(class='tab-pane fade',id='help')
                            div(id='help-content',class='padding-top20')

                        div(class='tab-pane fade',id='spitslot')
                            div(id='spitslot-content',class='padding-top20')


            div(class='col-md-3 col-sm-3 hidden-xs new-member')
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title 本月热点
                    div.panel-body
                        if topPosts && topPosts.length > 0
                            each post, i in topPosts
                                p.ellipsis
                                    | #{i+1}.
                                    a(href='/posts/#{post.id}') #{post.title}


                        else
                            p 暂无

                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title 年度热点
                    div.panel-body
                        if yearPosts && yearPosts.length > 0
                            each post, i in yearPosts
                                p.ellipsis
                                    | #{i+1}.
                                    a(href='/posts/#{post.id}') #{post.title}


                        else
                            p 暂无
                div.panel
                    div.panel-heading
                        h3.panel-title 最新会员
                    div.panel-body
                        p
                            if users
                                each user, i in users
                                    span
                                        a(href='/users/#{user._id}',name='new-member-link',data-toggle='tooltip',title='#{user.name}')
                                            img(class='img-circle img-thumbnail img-responsive tini-face',src='#{user.thumbnails}',alt='#{user.name}')

                                    | &nbsp;
        if 'production' === env
            script(data-main='#{jsPath}/home',src='#{jsPath}/require.js?v=#{appVersion}')
        else
            script(src='#{jsPath}/home.js')